@charset "UTF-8";

/* 

Typical Device Breakpoints
---------------------------
Pequenas telas: até 600px
celulares: 600px até 768px
tablets: 768px até 992px
desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) {
    .material-icons {
        display: none;
    }

    #itens {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    a {
        border-radius: 10px;
        margin: 5px ;
    }

    main {
        width: 768px;
    }
}